@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.login {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login  label{
  text-align: left;
  margin-left: 20px;
}

.map > div:nth-child(2),
.H_imprint {
  display: none;
}


.typed-cursor{
  display: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

 
.navbar-list-item {
  @apply text-theme-white text-base hover:text-theme-orange hover:underline ml-2 mr-2 hover:cursor-pointer hover:duration-200;
}
